.hero-unit{
	background-image: url(../img/layout/berlin-skyline-stripe.jpg);
	background-position: center;
	height: 350px;
}

.navbar-inner .form-inline{
	padding-top: 5px;
	margin: 0;	
}

.carousel{
	width: 300px;
	min-height: 500px;
}

	.carousel .item img{
		width: 100%;
	}

.carousel-control{
	top: 50%;
}
