.hero-unit{
	background-image: url(../img/layout/berlin-skyline-stripe.jpg);
	background-position: center;
	height: 350px;
}

	.hero-unit .btn{
		margin: 5px;
	}

	.hero-unit i.icon-white{
		margin-top: 2px;
	}


.navbar .brand img{
	height: 25px;
}

.navbar-inner .form-inline{
	padding-top: 5px;
	margin: 0;	
}

.carousel{
	width: 300px;
	min-height: 500px;
	background: url("../img/layout/ajax-spinner.gif") center center no-repeat;
}

	.carousel .item img{
		width: 100%;
	}

.carousel-control{
	top: 50%;
}

img.desc-icon{
	float:right; 
	margin: 0 0 5px 10px;
}

.span6 table{
	width: 100%;
}

tr.loading{
	text-align: center;
}

	tr.loading td{
		padding: 20px;
	}


.table-striped tbody tr:nth-child(odd) td, 
.table-striped tbody tr:nth-child(odd) th {
	background-color: #bcd5ff;
}

table#top_list td{
	text-align: center;
}

	table#top_list td.right{
		text-align: right;
		padding-right: 15px;
	}

table#history_list a.btn-small{
	margin-left: 5px;
	margin-top: 5px;
}

table#history_list p.btn-small{
	text-align: center;
}

#heatmapArea{
	width:500px;
	height:600px;
	border:1px dashed black;
	margin: auto;
}
