
RewriteEngine on
RewriteBase  /
RewriteCond %{REQUEST_FILENAME} !^index\.html$
RewriteCond %{REQUEST_FILENAME} !^pullfromgithubparanoidschnickschnackftw\.php$
RewriteCond %{REQUEST_FILENAME} !^ajaxproxy\.php$
RewriteRule ^(.+)\.html$ reboot.php?page=$1 [L]
